html {
	background: #c4bfb6;
	background-image: url(../images/pattern.png);
	font-family: arial, helvetica, sans-serif;
}

h1 {}
h2 {}

body {
	width: 960px;
	margin: 10px auto;
	color: #222;
	background: #eee;
	border: 1px solid #fff;
	webkit-box-shadow: 2px 2px 12px rgba(3,3,3,20);
  box-shadow: 2px 2px 12px rgba(3,3,3,0.50);
}

header {
	height: 150px;
	color: #fff;
	background-image: url(../images/georgian-header-bg.png);
	background-repeat: no-repeat;
	background-color: #004b87;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	border-bottom: 4px double #64a70b;
}

header section {
	float: left;
}

header section p {
	padding:0;
	margin: 0;
	color: #64a70b;
}

header section ul {
	font-style: italic;
	padding-left: 0;
	margin-left: 0;
}

header section ul li {
	display: inline;
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

main {
	height: 1000px;
	background-color: #FFF;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}

.uppercase {
	text-transform: uppercase;
}

img {
	border-left: 8px solid #fff;
	border-right: 8px solid #fff;
	border-top: 8px solid #fff;
	border-bottom: 30px solid #fff;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.55);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.55);
	text-align: center;
}

