/*!* Reset *!*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
abbr,acronym {
    border:0;
}

/*Actual CSS*/

body {
	background-color: #c4bfb6;
	background-image: url(../images/pattern.png);
}

li strong {
	font-weight: bold;
}

header {
	margin: 0 auto;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 7px auto 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu {
    border-bottom: 3px solid #e57200;
    font-family: Raleway, sans-serif;
    line-height: 1;
}
#cssmenu ul {
    background: #ffffff;
}
#cssmenu > ul > li {
   float: left;
}
#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
	  margin: 10px auto 0;
}
#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
#cssmenu.align-right > ul > li {
    /*float: right;*/
}
#cssmenu.align-right > ul > li > a {
    margin-right: 0;
    margin-left: -4px;
}
#cssmenu > ul > li > a {
    z-index: 2;
    padding: 18px 25px 12px 25px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #444444;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
    color: #ffffff;
}
#cssmenu > ul > li > a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 120%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    content: "";
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: perspective(5px) rotateX(2deg);
    -webkit-transform-origin: bottom;
    -moz-transform: perspective(5px) rotateX(2deg);
    -moz-transform-origin: bottom;
    transform: perspective(5px) rotateX(2deg);
    transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
    background: #e57200;
}
/*My css codes*/
main {
    margin-top: 30px;
    margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
	margin: 0 auto !important;
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#jumbotronHead.container {
	margin: 0 auto !important;
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding-left: 0;
}

.jumbotron {
	background: #fff;
  text-align: center;
	margin-left: 0;
	max-width: 1140px;
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.jumbotron > h1 {
    font-size: 3em;
}

.jumbotron img {
	width: 60%;
	float: none;
}

.panel-body, .panel, panel-primary {
	max-width: 1200px;
}

.col-lg-12 {
	margin-left: -15px;
}

.col-lg-12::last-child {
	margin-left: 0;
	
}

.col-lg-3 > h3 {
    font-size: 2em;
    color:  #64a70b;
}
.list-group-item {
    color:#00778b;
}
img {
    float: right;
}
.jumbotron > h1 {
    color: #64a70b;
}